<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Freshvotes Product</title>
</head>
<body>
    <div class="container">
        <h1>Products</h1>
        <div th:each="product: ${products}">
            <div th:text="${product.name}"></div>
        </div>
    </div>
</body>
</html>