<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FreshVotes Register</title>
</head>
<body>
    <h2>Create Account</h2>

    <form action="" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"><br/>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email"><br/>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password"><br/>

        <label for="c_password">Confirm Password:</label>
        <input type="password" name="c_password" id="c_password"><br/><br/>

        <button type="submit">Register</button>
    </form>

</body>
</html>